body {
    background-color: #cad2c5;
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

.side-box {
    height: 630px;
    width: 300px;
    background-color:#353535;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 90px;
    position: absolute;
}

.search-box {
    height: 50px;
    width: 590px;
    background-color: #353535;
    border-radius: 10px;
    margin-left: 700px;
    margin-top: 50px;
    position: absolute;
    
}

.bottom-box {
    height: 250px;
    width: 800px;
    background-color:#353535;
    border-radius: 10px;
    margin-left: 600px;
    margin-top: 400px;
    position: absolute;

}

/* .box-1 {
    height: 150px;
    width: 200px;
    background-color: #353535;
    border-radius: 10px;
    margin-left: 700px;
    margin-top: 300px;

}

.box-2 {
    height: 150px;
    width: 200px;
    background-color: #353535;
    border-radius: 10px;
    margin-left: 1000px;
    margin-bottom: 500px;
    position: absolute;

}

.box-3 {
    height: 150px;
    width: 200px;
    background-color: #353535;
    border-radius: 10px;
    margin-left: 1250px;
    margin-top: 200px;
    position: absolute;

} */

.grid{
    display: grid;
    
    /* background-color: #353535; */
  

    position: absolute;
    right: 25px;
    top: 270px;
   
   
    grid-template-columns:1fr 1fr 1fr;
    gap: 100px;
}

.grid>div{
    
    width: 270px;
    height: 200px;
    border-radius: 10px;
    background-color:#353535
    
}