body{
    display: grid;
    place-content: center;
    height: 100vh;
    text-align: center;
    font-size: large;
}
h1{
    margin-top: 0px;
margin-bottom: 0px;
}
.container{
    border: 1px solid black;
    height: 400px;
    width: 900px;
    padding: 30px;
}
.inner-container{
    border: 1px solid black;
    height: 300px;
    display: flex;
    justify-content: space-around;
align-items: center;
}
.image{
    height: 100px;
    width: 100px;
}
label {
display: inline-block;
width: 150px;
text-align: right;
font-size: larger;
}